.faq {
    padding-top: 0;
    background-color: $dark;

    &__bg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 1512px;
        margin: 0 auto 60px;
        position: relative;
        z-index: 20;
    }

    &__container {
        position: relative;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__title {
        color: $light;
        max-width: 600px;
        width: 100%;
        padding: 50px 0 420px 64px;
        margin-bottom: 0;
    }

    &__list {
        color: $light;
        font-size: 30px;
        max-width: 808px;
        width: 100%;
        margin-right: 176px;
    }

    &__item {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: margin-bottom 0.6s ease-in-out;

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            right: 0;
            top: 20px;
            background-color: $light;
        }

        &::before {
            transform: rotate(90deg);
            transition: transform 0.4s;
        }

        &.hidden {
            &:not(:last-child) {
                margin-bottom: 50px;
            }

            &::before {
                transform: rotate(0);
            }

            .faq__answer {
                max-height: 100%;
                transform: translateY(0);
            }
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 30px;
    }

    &__question {
        font-weight: 500;
        font-size: 30px;
        max-width: 700px;
        width: 100%;
        padding-right: 60px;
    }

    &__answer {
        padding-left: 55px;
        margin-top: 21px;
        width: 100%;
        max-height: 0;
        transform: translateY(-200%);
        transition: transform 0.4s;
    }

    &__info {
        text-align: center;
        max-width: 431px;
        width: 100%;
        padding-left: 65px;
        z-index: 5;

        &::before {
            content: "";
            position: absolute;
            width: 431px;
            height: 345%;
            bottom: 0;
            right: 33px;
            z-index: -5;
            background-color: $light-700;
            border-radius: 0 0 20px 20px;
        }
    }

    &__text {
        margin-bottom: 43px;
        font-size: 30px;
    }

    &__link {
        font-size: 20px;
    }
}

@media (max-width: 1360px) {
    .faq {
        &__list {
            margin-right: 0;
        }

        &__inner {
            display: flex;
            flex-direction: column;
            gap: 19px;
        }   

        &__text {
            margin-bottom: 18px;
        }

        &__info {
            max-width: 515px;
            padding-left: 0;

            &::before {
                display: none;
            }
        }

        &__text {
            color: $light;
        }

        &__link {
            padding: 11px 48px;
            background-color: $secondary;

            &:hover {
                background-color: $accent;
            }

            &:focus {
                box-shadow: 2px 5px 12px $light;
            }
        }
    }
}

@media (max-width: 1112px) {
    .faq {
        &__container {
            padding: 0 30px;
        }
    }
}

@media (max-width: 820px) {
    .faq {
        &__question {
            font-size: 25px;
        }

        &__answer {
            font-size: 25px;
        }

        &__text {
            font-size: 25px;
        }

        &__title {
            font-size: 40px;
            padding: 50px 0 350px 64px;
        }
    }
}


@media (max-width: 770px) {
    .faq {
        &__container {
            padding: 0 20px;
        }

        &__answer {
            padding-left: 20px;
        }

        &__item:not(:last-child) {
            margin-bottom: 10px;
        }

        &__list {
            font-size: 18px;
        }

        &__title {
            padding: 50px 0 250px 35px;
            font-size: 36px;
        }

        &__item.hidden:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 550px) {
    .faq {
        &__title {
            font-size: 24px;
            padding: 52px 0 154px 15px;
        }

        &__question {
            font-size: 18px;
        }

        &__text {
            font-size: 18px;
        }

        &__item {
            &::before,
            &::after {
                width: 20px;
            }
        }

        &__answer {
            font-size: 18px;
            width: 100%;
        }

        &__link {
            padding: 11px 20px;
        }
    }
}