.footer {
    text-align: center;
    background-color: $light;
    padding: 50px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 118px;
        margin-bottom: 40px;
    }

    &__link {
        font-size: 25px;
        z-index: 5;
        display: inline-block;
        position: relative;
        border-radius: 20px;
        transition: color 0.4s, outline 0.4s, opacity 0.4s;

        &::before {
            content: "";
            position: absolute;
            bottom: -24px;
            height: 4px;
            width: 100%;
            background-color: transparent;
            transition: background-color 0.4s;
        }

        &:hover {
            color: $accent;

            &::before {
                background-color: $accent;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 10px;

            &::before {
                background-color: transparent;
            }
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__address {
        margin-bottom: 35px;
    }

    &__telephone {
        position: relative;
        border-radius: 20px;
        transition: color 0.4s, outline 0.4s, outline-offset 0.4s, opacity 0.4s;

        &::before {
            content: "";
            position: absolute;
            bottom: -24px;
            height: 4px;
            width: 100%;
            background-color: transparent;
            transition: background-color 0.4s;
        }

        &:hover {
            color: $accent;

            &::before {
                background-color: $accent;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 10px;

            &::before {
                background-color: transparent;
            }
        }

        &:active {
            opacity: 0.7;
        }
    }
}

@media (max-width: 1440px) {
    .footer {
        &__list {
            flex-direction: column;
            gap: 20px;
            text-align: left;
        }

        &__address,
        &__copyright {
            text-align: left;
        }

        &__list {
            gap: 15px;
        }

        &__link {
            padding: 8px 0;
            display: block;

            &::before {
                bottom: -16px;
            }
        }

        &__address {
            margin-bottom: 20px;
        }

        &__list {
            margin-bottom: 30px;
        }

        &__container {
            padding: 0 35px;
        }

        &__telephone {
            padding: 7px 0;
            display: block;

            &::before {
                bottom: -16px;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer__telephone {
        font-size: 22px;
    }

    .footer__copyright {
        font-size: 18px;
    }
}