.header {
    padding-top: 36px;
}

.menu {
    display: flex;

    &__list {
        display: flex;
        align-items: center;
        gap: 56px;
    }

    &__link {
        z-index: 5;
        display: inline-block;
        font-size: 20px;
        position: relative;
        border-radius: 20px;
        transition: color 0.4s, outline 0.4s, opacity 0.4s;

        &::before {
            content: "";
            position: absolute;
            bottom: -24px;
            height: 4px;
            width: 100%;
            background-color: transparent;
            transition: background-color 0.4s;
        }

        &:hover {
            color: $accent;

            &::before {
                background-color: $accent;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 10px;

            &::before {
                background-color: transparent;
            }
        }

        &:active {
            opacity: 0.7;
        }
    }
}