body {
    font-family: "Montserrat Alternates", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: -1.2px;
    line-height: 1.2;
    background-color: $light-700;
    color: $dark;
}

.container {
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 64px;
}

.logo {
    z-index: -5;
    margin-right: 80px;
    outline-offset: 5px;
    border-radius: 20px;
    transition: opacity 0.4s, outline 0.4s, opacity 0.4s;

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        outline: 1px solid $accent;
    }

    &:active {
        opacity: 0.4;
    }
}

.section {
    padding: 50px 0;
}

.title {
    font-size: 50px;
    margin-bottom: 18px;
    font-weight: 600;
}

.link {
    display: inline-block;
    padding: 11px 32px;
    font-size: 30px;
    background-color: $accent-opacity;
    border-radius: 20px;
    outline: 3px solid $secondary;
    transition: box-shadow 0.4s, outline-offset 0.4s, background-color 0.4s;

    &:hover {
        box-shadow: 3px 3px 8px $dark-opacity;
    }

    &:focus {
        outline-offset: 5px;
    }

    &:active {
        background-color: $secondary;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (max-width: 864px) {
    .header__container {
        padding-left: 30px;
        padding-right: 0;
    }

    .link {
        font-size: 20px;
        padding: 11px 37px;
    }
}