$accent-opacity: rgba(#F49FBC, 0.20);
// Даний акцентний колір із прозорістю не підходить для інтерактивних елементів, тож використовую без прозорості
$accent: #F49FBC;
$secondary: #5FBAC3;

$dark: #272727;
$dark-opacity: rgba(#272727, 0.40);

$light: #fff;
$light-700: #F1FEFF;